*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}

.font{
  
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  
}

#inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}


body{
    max-width:1200px;
    background-color: white;
    margin: 0 auto;
}



/* navbar */

.container-nav{
    
    
display: flex;
justify-content: space-between;
align-items: center;

}
/* Tv Part */

.container-tv{

margin-top: 45px;
background-color: #FEEAE9;
border: 1px solid #000000;
opacity: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 10px;

}


  

.Tv-details{
    margin: 60px;

}
.Tv-details .Tv-head{
    font-size: 56px;
    text-align: center;
    padding-bottom: 10px;
}
.Tv-details p{
    
line-height: 26px;
font-size: 16px;
padding-bottom: 25px;
color: #4E4E4E;
text-align: left;

}
.tv-img img{
padding: 20px 40px 20px 20px; 
/* border: 1px solid green; */

}
.Tv-details .Tv-price{

    color: #FF136F;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 10px;

}
.tv-btn{

    padding: 12px 40px;
    border: none;
    border-radius: 6px;
    background-color: #FF589B;
}

/* Main */

.container-categories{

    margin-top: 60px;
    /* font-size: 36px;
    font-weight: 600; */
}
.categories-head{

    
    font-size: 36px;
    font-weight: 800;
}

.container-items{
margin-top: 30px;
margin-bottom: 60px;
display: flex;
justify-content: space-between;
align-items: center;

}
.watch, .shoe, .bag{
width: 380px;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 10px;
font-weight: 600;
color: #FFFFFF;
}
.watch img, .shoe img, .bag img{
padding: 15px 20px;

}

.Watch-title, .Bag-title, .Shoe-title{

    font-size: 36px;
}
.watch{
background-color: #FF9C35;

}
.shoe{
background-color: #3F07F8;

}
.bag{
background-color: #FF136F;

}
/* shoe */


.Shoe-items, .Backpack-items{

display: flex;
justify-content: space-between;
align-items: center;

}
.container-head{
padding-top: 90px;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}
.shoe-head, .backpack-head{

    font-size: 24px;
    font-weight: 400px;
    padding-bottom: 16px;
    padding-top: 16px;
}


.items{
width: 370px;
box-shadow: 0 6px 20px 1px #929292;
border: 1px solid #929292;
border-radius: 20px;
text-align: center;
}
.items-paragraph{
line-height: 26px;

}
.items img{
    margin-top: 15px;
}
.btn{
background-color: #000000;
padding: 16px 20px;
color: #FFFFFF;
border-radius: 6px;
margin-bottom: 20px;


}
.items-price{

    padding-top: 16px;
    padding-bottom: 16px;
}

/* footer  */

.foot{

margin-top: 80px;
background-color:#FFF2F1;
padding: 140px 280px;
opacity: 100%;
text-align: center;

}
.foot-head{

    font-size: 30px;
    font-weight: 500;
}

.Foot-Details{
    padding-top: 5px;
    font-size: 16px;
}

.input{
margin-top: 20px ;
align-items: center;


}

.text{
border-radius:10px 0px 0px 10px;
padding: 16px 15px;
border: none;
width: 500px;


}
.send-button{
padding: 16px 40px;
background: linear-gradient(#FF589B,#FF136F);
opacity: .9;
border: none;
border-radius:0 10px 10px 0;

}

/* Responsive */
@media screen and (max-width: 1200px){

 .Tv-head{
    font-size: 40px;
 }
 

 .text{

    width: 300px;
}
}

@media screen and (max-width: 1024px){

.Tv-head{
    font-size: 30px;
}
.container-items, .Shoe-items, .Backpack-items{flex-direction: column;
row-gap: 20px;
}
.text{

width: 200px;}
.categories-head, .container-head, .container-head{ text-align: center;}

.Foot-Details{
    padding-bottom: 10px;
    
}

.input{
display:inline;


}
.foot{padding: 100px 100px;}


}








    


@media screen and (max-width:768px){
 
    body{margin: 0 auto;}
.container-tv{
flex-direction: column;


}

.Tv-head{
    font-size: 30px;
}
.container-items, .Shoe-items, .Backpack-items{flex-direction: column;
row-gap: 20px;
}
.text{

width: 200px;}
.categories-head, .container-head, .container-head{ text-align: center;}

.Foot-Details{
    padding-bottom: 10px;
    
}

.input{
display:inline;


}
.foot{padding: 100px 100px;}







}


    



/* mobile */
@media screen and (max-width:568px){


.container-tv{
flex-direction: column;


}
.container-nav{

    flex-direction: column;
    row-gap: 15px;
}
.Tv-head{
    font-size: 30px;
}
.container-items, .Shoe-items, .Backpack-items{flex-direction: column;
row-gap: 20px;
}
.text{

width: 200px;}
.categories-head, .container-head, .container-head{ text-align: center;}


.foot{padding: 100px 100px;}

}